header {
    background-image: url("img/phone.jpg");
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}